<!-- Pagination Links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
    {% else %}
    <span>&laquo;</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% assign i = page %}
    {% assign left = paginator.page | minus: 3 %}
    {% assign right = paginator.page | plus: 3 %}
    {% if i == left and page != 1 %}
    <span style="color : #383838">...</span>
    {% endif %}

    {% if i != 1 and i <= left %}
        {% continue %}
    {% endif %}

    {% if i == right and page != paginator.total_pages%}
    <span style="color : #383838">...</span>
    {% endif %}

    {% if page != paginator.total_pages and i >= right %}
        {% continue %}
    {% endif %}

    {% if page == paginator.page %}
    <span>{{ page }}</span>

    <!-- 1번 링크는 루트 링크로 설정 -->
    {% elsif page == 1 %}
    <a href="/posts">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
    {% else %}
    <span>&raquo;</span>
    {% endif %}
</div>
{% endif %}

<style lang="scss">
    .pagination {
        margin: auto;
        text-align: center;
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 55px 0 25px 0;
        color: #999;
    }
    .pagination a, span{
        text-decoration: none;
        margin : 0 3%;
    }
    span.pagination-selected {
        display: inline-block;
        font-size: 1.3rem;
    }
</style>