.grid{
  display : grid;
  grid-template-columns : repeat(5,1fr);
  .center{
    grid-column : 2 / 5;
  }
  .right {
    grid-column : 5;
  }
  .left{
    grid-column : 1;
  }
  @media #{$small}{
    display : block;
  }
  @media #{$medium}{
    display : block;
  }
}

.categorybox {
  width: 100%;
  background-color : rgba($white , 0);
  color: $color_tuatara;
  padding: 4rem 20%;
  //border-radius: 3px;
  //box-shadow: 0 0 3px 0 rgba($color_shark,0.3); //10px
  //margin: 4rem 0;
  @media #{$small} {
    display : none;
    width: 90%;
    padding: 2em 0;
    box-shadow: none;
  }
}

.scroll-down{
  //text-align: center;
  position: absolute;
  top : 90%;
  left : 50%;
  transform:translateX(-50%);
}

.feature-table-cell{
  text-align :center;
  display : table-cell;
  vertical-align : middle;
}

.title-box{
  position : relative;
  height : 100%;
  width : 100%;
  display : table;
}

.title-no-feature{
  position : relative;
  height : 30%;
  width : 100%;
  display : table;
}

#load {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.8;
  background: white;
  z-index: 99;
  text-align: center;
}

#load > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);
  z-index: 100;
}

.link-word{
  text-decoration : none;
  &:link {
    color: white;
  }
  &:visited {
    color: white;
  }
  &:hover {
    color: $red;
  }
  &:active {
    transition: color .3s;
    color: $maroon;
  }
}

.grid-right-fixed{
  position: fixed;
  top: 0%;
  padding: 4rem 4%;
}