---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
{% include nav.html %}
<!-- Header -->
<header class="header" role="banner">
    <div class="post-title title-no-feature {% if page.feoature %} feature animated fadeIn {% endif %}">
        <div class="feature-table-cell">
            <h1>{{ page.title }}</h1>
            <a class="btn zoombtn" href="{{site.url}}/posts">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="btn zoombtn" href="{{site.url}}">
                <i class="fa fa-home"></i>
            </a>
            <!--        <div class="scroll-down">-->
            <!--            <a class="btn zoombtn scroll" type="button" href="#target">-->
            <!--                <i class="fa fa-arrow-down"></i>-->
            <!--            </a>-->
            <!--        </div>-->
        </div>
    </div>
    <div class="grid">
        <div class="left"></div>
        <div class="center">
            <div class="wrapper">
                <div class="content animated fadeIn">
                    <div class="post-list">
                        {% assign category = page.title %}
                        {% for post in site.categories[category] %} <!-- 카테고리 조건 -->
                        {% if post.project == null %}
                        <ul>
                            <li class="wow fadeIn" data-wow-duration="1.5s">
                                <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <p>{{ post.excerpt }}</p>
                                <p>{{ post.date | date_to_string }}</p>
                                <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                            </li>
                        </ul>
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="right">{% include categorybox.html %}</div>
    </div>
</header>
{% include scripts.html %}
<script src="{{ site.url }}/assets/js/wow.min.js"></script>
<script type="text/javascript">(new WOW).init();</script>
</body>
</html>